nodered-data/flows.json
[
    {
        "id": "3df5da342dc3b8ab",
        "type": "tab",
        "label": "Final Project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "946f1451f9d69c69",
        "type": "mqtt-broker",
        "name": "",
        "broker": "rabbitmq",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "224b0ca85646e9e5",
        "type": "inject",
        "z": "3df5da342dc3b8ab",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stat/tasmota_E302E6/RESULT",
        "payload": "{\"POWER\":\"ON\"}",
        "payloadType": "json",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "8cfc52e8dad8a8bc"
            ]
        ]
    },
    {
        "id": "8cfc52e8dad8a8bc",
        "type": "mqtt out",
        "z": "3df5da342dc3b8ab",
        "name": "",
        "topic": "cnmd/tasmota_E302E6/RESULT",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "946f1451f9d69c69",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "95f7a745cbd14047",
        "type": "inject",
        "z": "3df5da342dc3b8ab",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stat/tasmota_E302E6/RESULT",
        "payload": "{\"POWER\":\"OFF\"}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "8cfc52e8dad8a8bc"
            ]
        ]
    },
    {
        "id": "6e81b6dab4f77194",
        "type": "mqtt in",
        "z": "3df5da342dc3b8ab",
        "name": "mqtt",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "946f1451f9d69c69",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 360,
        "wires": [
            [
                "3949f14375c833c4"
            ]
        ]
    },
    {
        "id": "3949f14375c833c4",
        "type": "function",
        "z": "3df5da342dc3b8ab",
        "name": "mudaPayload",
        "func": "if (msg.payload.POWER === \"ON\") {\n    msg.payload.POWER = true\n}\nif (msg.payload.POWER === \"OFF\") {\n    msg.payload.POWER = false\n}\nconst topic = msg.topic.split('/')\nmsg.payload ={\n    data: {\n        \"workstation\": Number(topic[2]),\n        \"power\": msg.payload.POWER,\n        \"type\": topic[0],\n        \"subject\": topic[3],\n\n}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 360,
        "wires": [
            [
                "183ff7bb6f592890"
            ]
        ]
    },
    {
        "id": "183ff7bb6f592890",
        "type": "switch",
        "z": "3df5da342dc3b8ab",
        "name": "",
        "property": "payload.data.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "stat",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "8078f324c35926f7"
            ],
            [
                "de7d6a3bd9d26b0d"
            ]
        ]
    },
    {
        "id": "fae09e1b68e89abb",
        "type": "function",
        "z": "3df5da342dc3b8ab",
        "name": "function 5",
        "func": "msg.payload ={\n    data: {\n        workstation: msg.payload.data.workstation,\n        power: msg.payload.data.power\n    }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 300,
        "wires": [
            [
                "af84a8c1cf4b9f52",
                "3d1d5c9cd2b70401"
            ]
        ]
    },
    {
        "id": "af84a8c1cf4b9f52",
        "type": "http request",
        "z": "3df5da342dc3b8ab",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.2.191:1337/api/availabilities",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 300,
        "wires": [
            [
                "3dee1049195fb9e2"
            ]
        ]
    },
    {
        "id": "8078f324c35926f7",
        "type": "switch",
        "z": "3df5da342dc3b8ab",
        "name": "",
        "property": "payload.data.subject",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "RESULT",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "fae09e1b68e89abb"
            ],
            [
                "de7d6a3bd9d26b0d"
            ]
        ]
    },
    {
        "id": "218b250524b8c1a9",
        "type": "debug",
        "z": "3df5da342dc3b8ab",
        "name": "msg final",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 300,
        "wires": []
    },
    {
        "id": "de7d6a3bd9d26b0d",
        "type": "debug",
        "z": "3df5da342dc3b8ab",
        "name": "erro",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "d97eb56d32cbcd9d",
        "type": "inject",
        "z": "3df5da342dc3b8ab",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stat/tasmota_E302E6/RESULT",
        "payload": "{\"POWER\":\"ON\"}",
        "payloadType": "json",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "8845bd06df529a4b"
            ]
        ]
    },
    {
        "id": "8845bd06df529a4b",
        "type": "mqtt out",
        "z": "3df5da342dc3b8ab",
        "name": "",
        "topic": "stat/usinagem/1/RESULT",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "946f1451f9d69c69",
        "x": 310,
        "y": 180,
        "wires": []
    },
    {
        "id": "f94894a09d699d16",
        "type": "inject",
        "z": "3df5da342dc3b8ab",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stat/tasmota_E302E6/RESULT",
        "payload": "{\"POWER\":\"OFF\"}",
        "payloadType": "json",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "8845bd06df529a4b"
            ]
        ]
    },
    {
        "id": "3d1d5c9cd2b70401",
        "type": "debug",
        "z": "3df5da342dc3b8ab",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "3dee1049195fb9e2",
        "type": "json",
        "z": "3df5da342dc3b8ab",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1110,
        "y": 300,
        "wires": [
            [
                "218b250524b8c1a9"
            ]
        ]
    }
]