nodered-data/flows.json
[
    {
        "id": "8e205cec7002e87a",
        "type": "tab",
        "label": "Test Mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b10d6af9b986e42a",
        "type": "tab",
        "label": "Test project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "602eb2ceec2d373f",
        "type": "tab",
        "label": "Hello World MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3df5da342dc3b8ab",
        "type": "tab",
        "label": "Final Project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e9147bf8d9c37e96",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4c5eb1b69d082fa",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "946f1451f9d69c69",
        "type": "mqtt-broker",
        "name": "",
        "broker": "rabbitmq",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "262fbff82bdfc1ce",
        "type": "mqtt in",
        "z": "8e205cec7002e87a",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "946f1451f9d69c69",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "955a0ba743c2fc8a",
                "8d2b7e2d723cd751"
            ]
        ]
    },
    {
        "id": "119700415681aab4",
        "type": "debug",
        "z": "8e205cec7002e87a",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "e74507dd701cb0f3",
        "type": "inject",
        "z": "8e205cec7002e87a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "b829288c33c67b60"
            ]
        ]
    },
    {
        "id": "b829288c33c67b60",
        "type": "mqtt out",
        "z": "8e205cec7002e87a",
        "name": "",
        "topic": "stat/arthur/result",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "946f1451f9d69c69",
        "x": 480,
        "y": 480,
        "wires": []
    },
    {
        "id": "955a0ba743c2fc8a",
        "type": "change",
        "z": "8e205cec7002e87a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "119700415681aab4"
            ]
        ]
    },
    {
        "id": "9b9821d57cf92db5",
        "type": "debug",
        "z": "8e205cec7002e87a",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 80,
        "wires": []
    },
    {
        "id": "8d2b7e2d723cd751",
        "type": "function",
        "z": "8e205cec7002e87a",
        "name": "mudaPayload",
        "func": "const topic = msg.topic.split('/')\nmsg.payload = {\n    topic: msg.topic,\n    message: msg.payload,\n    type: topic[0],\n    device: topic[1],\n    subject: topic[2]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "1e8f08fd09485921"
            ]
        ]
    },
    {
        "id": "1e8f08fd09485921",
        "type": "switch",
        "z": "8e205cec7002e87a",
        "name": "handleType",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "stat",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "f4458216b1087450"
            ],
            [
                "5db782a67531d240"
            ]
        ]
    },
    {
        "id": "afbdda2439695776",
        "type": "inject",
        "z": "8e205cec7002e87a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 580,
        "wires": [
            [
                "14c9627739f42c1b"
            ]
        ]
    },
    {
        "id": "14c9627739f42c1b",
        "type": "mqtt out",
        "z": "8e205cec7002e87a",
        "name": "",
        "topic": "asdf/arthur/result",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "946f1451f9d69c69",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "fbb26af10eb28cc1",
        "type": "debug",
        "z": "8e205cec7002e87a",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "5db782a67531d240",
        "type": "change",
        "z": "8e205cec7002e87a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "erro",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 380,
        "wires": [
            [
                "fbb26af10eb28cc1"
            ]
        ]
    },
    {
        "id": "f4458216b1087450",
        "type": "switch",
        "z": "8e205cec7002e87a",
        "name": "handleSubject",
        "property": "payload.subject",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "result",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "555223dc579f2f98"
            ]
        ]
    },
    {
        "id": "555223dc579f2f98",
        "type": "function",
        "z": "8e205cec7002e87a",
        "name": "function 2",
        "func": "msg.payload = {\n    device: msg.payload.device,\n    payload: msg.payload.message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 140,
        "wires": [
            [
                "9b9821d57cf92db5"
            ]
        ]
    },
    {
        "id": "23c2e2e556cf9b39",
        "type": "inject",
        "z": "8e205cec7002e87a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"identifier\":\"arthurpedroti\",\"password\":\"!pedroti#\"}",
        "payloadType": "json",
        "x": 630,
        "y": 700,
        "wires": [
            [
                "28dbef002a39795b"
            ]
        ]
    },
    {
        "id": "28dbef002a39795b",
        "type": "http request",
        "z": "8e205cec7002e87a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.2.169:1337/api/auth/local",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 700,
        "wires": [
            [
                "941d4964732dcc46"
            ]
        ]
    },
    {
        "id": "9086af8dfa21f118",
        "type": "debug",
        "z": "8e205cec7002e87a",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 700,
        "wires": []
    },
    {
        "id": "5c529a9cf7bea2e5",
        "type": "inject",
        "z": "8e205cec7002e87a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 780,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "941d4964732dcc46",
        "type": "json",
        "z": "8e205cec7002e87a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 970,
        "y": 700,
        "wires": [
            [
                "9086af8dfa21f118"
            ]
        ]
    },
    {
        "id": "41446dba2619f9ac",
        "type": "inject",
        "z": "8e205cec7002e87a",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "b5df3bed3234a678"
            ]
        ]
    },
    {
        "id": "c7161b4d89d11076",
        "type": "inject",
        "z": "8e205cec7002e87a",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 250,
        "y": 40,
        "wires": [
            [
                "b5df3bed3234a678"
            ]
        ]
    },
    {
        "id": "b5df3bed3234a678",
        "type": "mqtt out",
        "z": "8e205cec7002e87a",
        "name": "",
        "topic": "cmnd/tasmota_E302E6/POWER",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "946f1451f9d69c69",
        "x": 190,
        "y": 100,
        "wires": []
    },
    {
        "id": "3501b1c3adbc6b9b",
        "type": "inject",
        "z": "b10d6af9b986e42a",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stat/tasmota_E302E6/RESULT",
        "payload": "{\"POWER\":\"ON\"}",
        "payloadType": "json",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "6a9077e28fbabc6c"
            ]
        ]
    },
    {
        "id": "6a9077e28fbabc6c",
        "type": "mqtt out",
        "z": "b10d6af9b986e42a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "946f1451f9d69c69",
        "x": 170,
        "y": 120,
        "wires": []
    },
    {
        "id": "b64d03a2fbdf0a4f",
        "type": "mqtt in",
        "z": "b10d6af9b986e42a",
        "name": "",
        "topic": "stat/tasmota_E302E6/RESULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "946f1451f9d69c69",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "60743a985482f919",
        "type": "debug",
        "z": "b10d6af9b986e42a",
        "name": "erro 400",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 200,
        "wires": []
    },
    {
        "id": "a14e60cd11a40575",
        "type": "function",
        "z": "b10d6af9b986e42a",
        "name": "mudaPayload",
        "func": "if (msg.payload.POWER === \"ON\") {\n    msg.payload.POWER = true\n}\nif (msg.payload.POWER === \"OFF\") {\n    msg.payload.POWER = false\n}\nconst topic = msg.topic.split('/')\nmsg.payload ={\n    data: {\n        \"device\": topic[1],\n        \"power\": msg.payload.POWER,\n        \"type\": topic[0],\n        \"subject\": topic[2],\n\n}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 300,
        "wires": [
            [
                "37a61a6608b2b302",
                "5c748c80e60a74a3"
            ]
        ]
    },
    {
        "id": "548325487dd6eefc",
        "type": "inject",
        "z": "b10d6af9b986e42a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 780,
        "y": 580,
        "wires": [
            [
                "46c3250b87eee13a"
            ]
        ]
    },
    {
        "id": "de2cccfb96c061f7",
        "type": "debug",
        "z": "b10d6af9b986e42a",
        "name": "msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 760,
        "wires": []
    },
    {
        "id": "46c3250b87eee13a",
        "type": "http request",
        "z": "b10d6af9b986e42a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.2.169:1337/api/disponibilities",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 640,
        "wires": [
            [
                "a39ab359956b83cd"
            ]
        ]
    },
    {
        "id": "a39ab359956b83cd",
        "type": "json",
        "z": "b10d6af9b986e42a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 700,
        "wires": [
            [
                "de2cccfb96c061f7"
            ]
        ]
    },
    {
        "id": "5c748c80e60a74a3",
        "type": "http request",
        "z": "b10d6af9b986e42a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.2.169:1337/api/disponibilities",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 200,
        "wires": [
            [
                "191e5d899e448749"
            ]
        ]
    },
    {
        "id": "9db3a2de2243f60b",
        "type": "inject",
        "z": "b10d6af9b986e42a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "4c9bb47938ae1510"
            ]
        ]
    },
    {
        "id": "6d3e25b42a60de5c",
        "type": "debug",
        "z": "b10d6af9b986e42a",
        "name": "msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 800,
        "wires": []
    },
    {
        "id": "4c9bb47938ae1510",
        "type": "http request",
        "z": "b10d6af9b986e42a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.2.169:1337/api/disponibilities",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 210,
        "y": 680,
        "wires": [
            [
                "273a7955b87c4304"
            ]
        ]
    },
    {
        "id": "273a7955b87c4304",
        "type": "json",
        "z": "b10d6af9b986e42a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 740,
        "wires": [
            [
                "6d3e25b42a60de5c"
            ]
        ]
    },
    {
        "id": "c8e94dc144e5d8d3",
        "type": "function",
        "z": "b10d6af9b986e42a",
        "name": "mudaPayload",
        "func": "if (msg.payload.POWER === \"ON\") {\n    msg.payload.POWER = true\n}\nif (msg.payload.POWER === \"OFF\") {\n    msg.payload.POWER = false\n}\nconst topic = msg.topic.split('/')\nmsg.payload ={data: {\n        \n        \"device\": topic[1],\n        \"power\": msg.payload.POWER\n\n}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "46dabbcb25aeb106",
        "type": "inject",
        "z": "b10d6af9b986e42a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"identifier\":\"strapitest\",\"password\":\"321654\"}",
        "payloadType": "json",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "876c48941fada7a9"
            ]
        ]
    },
    {
        "id": "876c48941fada7a9",
        "type": "http request",
        "z": "b10d6af9b986e42a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.2.169:1337/api/auth/local",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 420,
        "wires": [
            [
                "9d52e1dfb1904550"
            ]
        ]
    },
    {
        "id": "8cc9f8dd704c2384",
        "type": "debug",
        "z": "b10d6af9b986e42a",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "9d52e1dfb1904550",
        "type": "json",
        "z": "b10d6af9b986e42a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "8cc9f8dd704c2384"
            ]
        ]
    },
    {
        "id": "37a61a6608b2b302",
        "type": "debug",
        "z": "b10d6af9b986e42a",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "25f31b17d0d8a825",
        "type": "inject",
        "z": "b10d6af9b986e42a",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stat/tasmota_E302E6/RESULT",
        "payload": "{\"POWER\":\"OFF\"}",
        "payloadType": "json",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "6a9077e28fbabc6c"
            ]
        ]
    },
    {
        "id": "191e5d899e448749",
        "type": "json",
        "z": "b10d6af9b986e42a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 810,
        "y": 200,
        "wires": [
            [
                "60743a985482f919"
            ]
        ]
    },
    {
        "id": "fa96c32270bc9db3",
        "type": "inject",
        "z": "602eb2ceec2d373f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "laboratorio",
        "payload": "Hello world",
        "payloadType": "str",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "ac5e9994366b9a46"
            ]
        ]
    },
    {
        "id": "ac5e9994366b9a46",
        "type": "function",
        "z": "602eb2ceec2d373f",
        "name": "function 1",
        "func": "msg.payload = {\n    \"topic\": msg.topic.split('/'),\n    \"payload\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "fc39d75648bfa8ac"
            ]
        ]
    },
    {
        "id": "fc39d75648bfa8ac",
        "type": "debug",
        "z": "602eb2ceec2d373f",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "224b0ca85646e9e5",
        "type": "inject",
        "z": "3df5da342dc3b8ab",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stat/tasmota_E302E6/RESULT",
        "payload": "{\"POWER\":\"ON\"}",
        "payloadType": "json",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "8cfc52e8dad8a8bc"
            ]
        ]
    },
    {
        "id": "8cfc52e8dad8a8bc",
        "type": "mqtt out",
        "z": "3df5da342dc3b8ab",
        "name": "",
        "topic": "cnmd/tasmota_E302E6/RESULT",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "946f1451f9d69c69",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "95f7a745cbd14047",
        "type": "inject",
        "z": "3df5da342dc3b8ab",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stat/tasmota_E302E6/RESULT",
        "payload": "{\"POWER\":\"OFF\"}",
        "payloadType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "8cfc52e8dad8a8bc"
            ]
        ]
    },
    {
        "id": "6e81b6dab4f77194",
        "type": "mqtt in",
        "z": "3df5da342dc3b8ab",
        "name": "mqtt",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "946f1451f9d69c69",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 360,
        "wires": [
            [
                "3949f14375c833c4"
            ]
        ]
    },
    {
        "id": "3949f14375c833c4",
        "type": "function",
        "z": "3df5da342dc3b8ab",
        "name": "mudaPayload",
        "func": "if (msg.payload.POWER === \"ON\") {\n    msg.payload.POWER = true\n}\nif (msg.payload.POWER === \"OFF\") {\n    msg.payload.POWER = false\n}\nconst topic = msg.topic.split('/')\nmsg.payload ={\n    data: {\n        \"device\": topic[1],\n        \"power\": msg.payload.POWER,\n        \"type\": topic[0],\n        \"subject\": topic[2],\n\n}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 360,
        "wires": [
            [
                "183ff7bb6f592890"
            ]
        ]
    },
    {
        "id": "183ff7bb6f592890",
        "type": "switch",
        "z": "3df5da342dc3b8ab",
        "name": "",
        "property": "payload.data.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "stat",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "8078f324c35926f7"
            ],
            [
                "de7d6a3bd9d26b0d"
            ]
        ]
    },
    {
        "id": "fae09e1b68e89abb",
        "type": "function",
        "z": "3df5da342dc3b8ab",
        "name": "function 5",
        "func": "msg.payload ={\n    data: msg.payload.data,\n    device: msg.payload.data.device,\n    power: msg.payload.data.power\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 300,
        "wires": [
            [
                "af84a8c1cf4b9f52"
            ]
        ]
    },
    {
        "id": "af84a8c1cf4b9f52",
        "type": "http request",
        "z": "3df5da342dc3b8ab",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.2.169:1337/api/disponibilities",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 300,
        "wires": [
            [
                "517d92dc1e019ace"
            ]
        ]
    },
    {
        "id": "517d92dc1e019ace",
        "type": "json",
        "z": "3df5da342dc3b8ab",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "218b250524b8c1a9"
            ]
        ]
    },
    {
        "id": "8078f324c35926f7",
        "type": "switch",
        "z": "3df5da342dc3b8ab",
        "name": "",
        "property": "payload.data.subject",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "RESULT",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "fae09e1b68e89abb"
            ],
            [
                "de7d6a3bd9d26b0d"
            ]
        ]
    },
    {
        "id": "218b250524b8c1a9",
        "type": "debug",
        "z": "3df5da342dc3b8ab",
        "name": "msg final",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 300,
        "wires": []
    },
    {
        "id": "de7d6a3bd9d26b0d",
        "type": "debug",
        "z": "3df5da342dc3b8ab",
        "name": "erro",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "7ab6a0fe807eade4",
        "type": "mqtt in",
        "z": "e9147bf8d9c37e96",
        "name": "mqtt",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "946f1451f9d69c69",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "dcae584eadddb31e"
            ]
        ]
    },
    {
        "id": "dcae584eadddb31e",
        "type": "function",
        "z": "e9147bf8d9c37e96",
        "name": "mudaPayload",
        "func": "if (msg.payload.POWER === \"ON\") {\n    msg.payload.POWER = true\n}\nif (msg.payload.POWER === \"OFF\") {\n    msg.payload.POWER = false\n}\nconst topic = msg.topic.split('/')\nmsg.payload ={\n    data: {\n        \"device\": topic[1],\n        \"power\": msg.payload.POWER,\n        \"type\": topic[0],\n        \"subject\": topic[2],\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "2bfe25314e312a6b"
            ]
        ]
    },
    {
        "id": "2bfe25314e312a6b",
        "type": "switch",
        "z": "e9147bf8d9c37e96",
        "name": "",
        "property": "payload.data.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "stat",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "0d3e2cc2ac22dfcb"
            ],
            [
                "f5a9c8e1a3f0f0ac"
            ]
        ]
    },
    {
        "id": "2bd79e3e93d30b68",
        "type": "function",
        "z": "e9147bf8d9c37e96",
        "name": "function 4",
        "func": "msg.payload ={\n    data: msg.payload.data,\n    device: msg.payload.data.device,\n    power: msg.payload.data.power\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 60,
        "wires": [
            [
                "82ac700fd92c75f1"
            ]
        ]
    },
    {
        "id": "82ac700fd92c75f1",
        "type": "http request",
        "z": "e9147bf8d9c37e96",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.2.169:1337/api/disponibilities",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 890,
        "y": 60,
        "wires": [
            [
                "e3f0954ac591bdc5"
            ]
        ]
    },
    {
        "id": "e3f0954ac591bdc5",
        "type": "json",
        "z": "e9147bf8d9c37e96",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1050,
        "y": 60,
        "wires": [
            [
                "8feb43c43a47b13e"
            ]
        ]
    },
    {
        "id": "0d3e2cc2ac22dfcb",
        "type": "switch",
        "z": "e9147bf8d9c37e96",
        "name": "",
        "property": "payload.data.subject",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "RESULT",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "2bd79e3e93d30b68"
            ],
            [
                "f5a9c8e1a3f0f0ac"
            ]
        ]
    },
    {
        "id": "8feb43c43a47b13e",
        "type": "debug",
        "z": "e9147bf8d9c37e96",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 60,
        "wires": []
    },
    {
        "id": "f5a9c8e1a3f0f0ac",
        "type": "debug",
        "z": "e9147bf8d9c37e96",
        "name": "erro",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "f7cc4dea0a9a9d8b",
        "type": "mqtt in",
        "z": "b4c5eb1b69d082fa",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "946f1451f9d69c69",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "6bf4cc8584dba475"
            ]
        ]
    },
    {
        "id": "6bf4cc8584dba475",
        "type": "function",
        "z": "b4c5eb1b69d082fa",
        "name": "function 6",
        "func": "const topic = msg.topic.split('/')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "35e51dd141a027ec"
            ]
        ]
    },
    {
        "id": "35e51dd141a027ec",
        "type": "debug",
        "z": "b4c5eb1b69d082fa",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 540,
        "wires": []
    }
]